<form action="/tinh"  method="POST">
    <select name="pt">
        <option>--Chọn phép tính--</option>
        <option value="cong">Cộng</option>
        <option value="tru">Trừ</option>
        <option value="nhan">Nhân</option>
        <option value="chia">Chia</option>
    </select> 
    <br /><br />
    <input type="text" name="soa" placeholder="So a" />
    <br /><br />
    <input type="text" name="sob" placeholder="So b" />
    <br /><br />
    <button>Calculate</button>
</form>